// Colores
$color-primario: #333;
$color-secundario: #ff8c00;
$color-fondo: #f8f8f8;
$color-texto: #fff;

// Fuentes
$fuente-principal: 'Roboto', sans-serif;

// Tamaños
$tamanyo-header: 24px;
$tamanyo-h2: 20px;
$tamanyo-texto: 16px;